.container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar{
  object-fit: cover;
  border-radius: 50%;
}

.texts{
  display: grid;
  grid-template-columns: 80px  1fr;   
  grid-column-gap: 2rem;

  .title{
    color: gray;
    font-weight: bold;
  }
  
  .username{
    font-weight: 500;
  }
}

